In [2]:
import pandas as pd
import json

In [7]:
with open('data/train_val_annotations/train.json','r') as f:
    data = json.loads(f.read())

annotations = pd.json_normalize(data, record_path=['annotations']).drop(columns=['id'])
categories = pd.json_normalize(data, record_path=['categories'])
joined = annotations.merge(categories, left_on='category_id', right_on='id').drop(columns=['id'])
joined.head()

   category_id  image_id                       name  supercategory
0          650     21942  Leucoagaricus leucothites  Leucoagaricus
1          650     21943  Leucoagaricus leucothites  Leucoagaricus
2          650     21944  Leucoagaricus leucothites  Leucoagaricus
3          650     22210  Leucoagaricus leucothites  Leucoagaricus
4          650     24812  Leucoagaricus leucothites  Leucoagaricus

In [39]:
joined[joined['name'].str.contains('Hygrophoropsis aurantiaca', case=False) == True]

       category_id  image_id                       name   supercategory
73061          477     10983  Hygrophoropsis aurantiaca  Hygrophoropsis
73062          477     10984  Hygrophoropsis aurantiaca  Hygrophoropsis
73063          477     12297  Hygrophoropsis aurantiaca  Hygrophoropsis
73064          477     14099  Hygrophoropsis aurantiaca  Hygrophoropsis
73065          477     14846  Hygrophoropsis aurantiaca  Hygrophoropsis
...            ...       ...                        ...             ...
73139          477    138967  Hygrophoropsis aurantiaca  Hygrophoropsis
73140          477    143245  Hygrophoropsis aurantiaca  Hygrophoropsis
73141          477    143222  Hygrophoropsis aurantiaca  Hygrophoropsis
73142          477    143223  Hygrophoropsis aurantiaca  Hygrophoropsis
73143          477    144017  Hygrophoropsis aurantiaca  Hygrophoropsis

[83 rows x 4 columns]

In [41]:
eaten_species = ['Boletus edulis', 'Armillaria mellea', 'Rhodocollybia butyracea',
                'Cantharellus cibarius', 'Russula']
poison_species = ['Amanita phalloides', 'Rubroboletus satanas',  'Amanita muscaria',
                  'Inocybe', 'Chalciporus piperatus', 'Hypholoma fasciculare', 'Agaricus xanthodermus',
                  'Russula emetica', 'Hygrophoropsis aurantiaca']

for s in eaten_species + poison_species:
    s_num = joined[joined['name'].str.contains(s, case=False) == True].shape[0]
    print(f'{s}: {s_num}')

Boletus edulis: 159
Armillaria mellea: 74
Rhodocollybia butyracea: 96
Cantharellus cibarius: 141
Russula: 4112
Amanita phalloides: 125
Rubroboletus satanas: 43
Amanita muscaria: 160
Inocybe: 1926
Chalciporus piperatus: 68
Hypholoma fasciculare: 286
Agaricus xanthodermus: 134
Russula emetica: 39
Hygrophoropsis aurantiaca: 83

In [4]:
df = pd.read_csv('svampeatlasdata.csv')
df.head()
print(df.columns)

Index(['_id', 'fieldnumber', 'observationDate', 'validationStatus', 'taxon_id',
       'taxonFullName', 'originalTaxonNameUsage', 'taxonDanishName',
       'taxonRedListCategory', 'locality', 'country', 'decimalLatitude',
       'decimalLongitude', 'accuracy', 'reportedBy', 'substrate',
       'vegetationType', 'associatedTaxa', 'ecologyNotes', 'notes', 'leg',
       'det', 'URI'],
      dtype='object')